<section class="login flex justify-center bg-gray-100 pt-10 pb-20">
  <div class="login-box">
    <form action="/login", method="POST">
      <% if(messages.error){%>
        <span class="text-red-500 text-sm"><%= messages.error%></span>
        <% } %>
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input name="name" type="text" value="<%= messages.name %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your name">
        </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <input name="email" type="text" value="<%= messages.email %>" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
      </div>
      <button type="submit" class="w-1/4 mt-6 text-indigo-50 font-bold py-2 rounded-full transition duration-300 order-btn register-btn">Register</button>
            <a href="/login" class="text-sm text-gray-700 inline-block mt-4 ml-6 transition duration-200">Already Have Account ? Go to Login </a>
    </form>
  </div>

  <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==-->
 <!-- <form action="/register" method="POST">
    <div class="max-h-screen flex items-center">
      
        <div class="container mx-auto max-w-md shadow-md hover:shadow-lg transition duration-300">
          <div class="py-8 px-10 bg-white rounded-xl">
            <% if(messages.error){%>
            <span class="text-red-500 text-sm"><%= messages.error%></span>
            <% } %>
            <div class="mb-6">
                <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Name</label>
                <input name="name" type="text" value="<%= messages.name %>" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" placeholder="Enter Your Name" />
              </div>
            <div class="mb-6">
              <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="name">Email</label>
              <input name="email" type="text" value="<%= messages.email %>" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" placeholder="Enter your email" />
            </div>
            <div class="">
              <label class="mr-4 text-gray-700 font-bold inline-block mb-2" for="password">password</label>
              <input name="password" type="password" class="border bg-gray-100 py-2 px-4 w-96 outline-none focus:ring-2 focus:ring-indigo-400 rounded" placeholder="Enter your password"/>
            </div>
            
            <button type="submit" class="w-1/4 mt-6 text-indigo-50 font-bold py-2 rounded-full transition duration-300 order-btn">Register</button>
            <a href="/login" class="text-sm text-gray-700 inline-block mt-4 ml-6 transition duration-200">Already Have Account ? Go to Login </a>
           </div>
          
        </div>
       
    </div>
  </form> -->
</section>
<p class="foot-text"> © Biswajit Mishra <br>All right resereved @ Food House</p>
