<section class="orders light-section">
    <div class="container mx-auto px-20 pt-12">
        <h1 class="font-bold text-lg mb-4">Your all order details</h1>

        <% if(messages.success){ %>

        <div id="success-alert" class="flex items-center bg-green-500 text-white text-sm font-bold px-4 py-3"
            role="alert">
            <i class="fas fa-check-double"></i>
            <p class="px-20"><%= messages.success %></p>
        </div>
        <% } %>

        <table class="w-full table-auto bg-white">
            <thead>
                <tr>
                    <th class="px-4 py-2 text-left">Order Id</th>
                    <th class="px-4 py-2 text-left">Address</th>
                    <th class="px-4 py-2 text-left">Phone Number</th>
                    <th class="px-4 py-2 text-left">Time</th>
                </tr>
            </thead>
            <tbody>
                <% if(orders.length){%>
                    <% orders.forEach((order)=>{ %>
                        <tr>
                            <td class="border px-4 py-2"><a class="link" href=""><%= order._id %></a></td>
                            <td class="border px-4 py-2"><%= order.address %></td>
                            <td class="border px-4 py-2"><%= order.phone %></td>
                            <td class="border px-4 py-2"><%= moment(order.createdAt).format('hh:mm A') %></td>
                        </tr>


                  <% })%>
                
                <% }else{ %>
                      <tr>
                          <td class="p-4"><span>You have not ordered anything yet !</span> </td>
                      </tr>
                <% } %>
            </tbody>  
        </table>
    </div>

</section>